{:deps {:aliases [:dev :test]}
 :cache-root ".shadow-cljs"
 :builds {:main {:target :npm-module
                 :output-dir "lib"
                 :compiler-options {:source-map true}}
          :main-dev {:id :main-dev
                     :target :node-script
                     :main test.core-test/-main
                     :output-to ".shadow-cljs/out/main-dev/index.js"}
          :main-test {:target :node-test
                      :output-to "lib/main-test.js"
                      :autorun true
                      :compiler-options {:source-map true}}}}
